{{- $systemd_ok := and (eq .chezmoi.os "linux") (lookPath "systemctl") (regexMatch "(?i)systemd" (trim (include "/proc/1/comm"))) -}}
.oh-my-zsh/cache/*
**/*.zwc
setup
README.md
docs/**
dot_config/zsh/local.zsh
dot_config/opencode/bun.lockb
dot_config/opencode/package-lock.json
{{ if not $systemd_ok }}dot_config/systemd/**{{ end }}