[user]
	name = {{ .name }}
	email = {{ .email }}
{{- if .gpg_signing_key }}
	signingkey = {{ .gpg_signing_key }}
{{- end }}

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[branch]
	autoSetupMerge = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
{{- if .gpg_signing_key }}

[commit]
    gpgsign = true

[gpg]
    program = gpg
{{- end }}

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential